<div style="display: flex; flex-direction: row; width: 100%;">
      <div>
            <figure id="chart"></figure>
      </div>
      <div style="width:30%">
            Minimum Links: <input [(ngModel)]="filterLimit" type="number" (change)="refreshData()" /><br />
            <!-- <input [(ngModel)]="nameInput" type="text"/> -->
            <select [(ngModel)]="nameInput">
                  <option *ngFor="let name of availableNames" value="{{name}}">{{name}}</option>
            </select>
            <button style="background-color: green;" (click)="addHeader(nameInput)">Add</button>
            <button (click)="clearHeaders()">Clear Selection</button><br>
            <ul>
                  <li  *ngFor="let name of selectedNames">{{name}}  <button class="btn-cancel" style="background-color: red;" (click)="removeHeader(name)">X</button></li>
            </ul>
      </div>
</div>

Displayed Flavours:
<ul>
      <li *ngFor="let name of names">{{name}}</li>
</ul>